# Ignore dependency directories
**/node_modules

# Ignore local environment variables
.env
server/.env
client/.env

# Ignore build output
client/dist

# Editor and system files
.vscode
.DS_Store
*.log
